[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xlwt = "*"
openpyxl = "*"
pandas = "*"
jupyterlab = "*"
seaborn = "*"
xlrd = "*"
pillow = "*"
numpy = "*"

[dev-packages]
pytest = "*"
mypy = "*"
pylint = "*"
"flake8" = "*"

[requires]
python_version = "3.7"
